extends layout

block content
    h1 Je suis Admin
    h2 Youpie
    h3 test pug
    div.container
        div.row
            div(class="col-md-7")
                div(class="panel panel-default")  
                    div(class="panel-heading col-md-12 col-sm-12 col-xs-12")
                        p.col-md-4.col-sm-4.col-xs-4.text-center#equipe1 Biduleerererezrer ezefe
                        p.col-md-2.col-sm-2.col-xs-2.text-center#score1 0 
                        p.col-md-2.col-sm-2.col-xs-2.text-center#score2 0
                        p.col-md-4.col-sm-4.col-xs-4.text-center#equipe2 Bidule  
                    div(class="panel-body" style="height: 500px; max-height:500px;overflow-y: scroll;")
                        ul#listComments.list-group
                    div(class="panel-footer")
                        form(action="" class="input-group" id="commentaryForm")
                            input(type="text" class="form-control input-sm" name="comment" placeholder="Ecrire un commentaire...")
                            select#typeComment
                                option(value="but") But
                                option(value="action") Action
                                option(value="changement") Changement
                                option(value="carton") Carton
                                option(value="info") Info
                            select#typeEquipe
                                option(value="equipe1") Equipe1
                                option(value="equipe2") Equipe2
                            input(type="number" class="form-control input-sm" name="minuteComment" min="0" max="125")
                            span.input-group-btn
                                input(type="submit" value="Envoyer" class="btn btn-warning btn-sm btnEnvoyer")
                        form(action="" class="input-group" id="scoreForm")
                            input(type="number" class="form-control input-sm" name="score1" min="0" max="15")
                            input(type="number" class="form-control input-sm" name="score2" min="0" max="15")
                            span.input-group-btn
                                input(type="submit" value="Envoyer" class="btn btn-warning btn-sm btnEnvoyer")
                        form(action="" class="input-group" id="teamForm")
                            input(type="text" class="form-control input-sm" name="team1" placeholder="Entrez nom equipe")
                            input(type="text" class="form-control input-sm" name="team2" placeholder="Entrez nom equipe deux")
                            span.input-group-btn
                                input(type="submit" value="Envoyer" class="btn btn-warning btn-sm btnEnvoyer")
                        button(type="button" class="btn btn-danger" id="deleteAll") Effacer tous les commentaires
            <!-- inicio de la caja de chat con bootstrap -->
            div(class="col-md-4")
                div(class="panel panel-primary")
                    div(class="panel-heading")
                        span(class="fas fa-comments" id="onglet_messages" onclick="javascript:change_onglet('messages');" style="margin:5px;") Chat
                        span(class="fas fa-users" id="onglet_users" onclick="javascript:change_onglet('users');" style="margin:5px;") Users 
                    div(class="panel-body contenu_onglet" id="contenu_onglet_messages" style="height: 500px; max-height: 500px;overflow-y: scroll;display:block")
                        ul#listMessage 
                    div(class="panel-body contenu_onglet" id="contenu_onglet_users" style="height: 500px; max-height: 500px;overflow-y: scroll;display:none")
                        ul#listUsers
                    div.panel-footer
                        form(action="" class="input-group" id="messageForm")
                            input#message(type="text" class="form-control input-sm" name="message" placeholder="Ecrire un message...")
                            span.input-group-btn
                                input(type="submit" value="Envoyer" class="btn btn-warning btn-sm btnEnvoyer")          
    script.
        //<!--
                var anc_onglet = 'messages';
                change_onglet(anc_onglet);
        //-->
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript" src="js/admin.js")