<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coupe du monde - Chat</title>
</head>
<body>
    <h1> Copa del mundo asi !! Chico !! </h1>

      <div id="listMessage">
    </div>

    <form action="" id="messageForm">
        <input placeholder="Votre message..." name="msg"/>
        <input type="submit" value="Envoyer">
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/client.js"></script>
</body>
</html>