<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coupe du monde - Chat</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <script type="text/javascript">
        //<!--
            function change_onglet(name)
            {
                    if(anc_onglet!=name){
                        document.getElementById('onglet_'+name).classList.add('onglet_1');
                        document.getElementById('onglet_'+anc_onglet).classList.remove('onglet_1');
                        document.getElementById('contenu_onglet_'+anc_onglet).style.display = 'none';
                        document.getElementById('contenu_onglet_'+name).style.display = 'block';
                        anc_onglet = name;
                    }
            }
        //-->
        </script>
</head>
<body>
    <h1> Copa del mundo asi !! Chico !! </h1>
    <h2> Copa del mundo asi !! Chico !! </h2>
    <h3> Copa del mundo asi !! Chico !! </h3>

    <div class="container">
    <div class="row">
        <!-- inicio de la caja de chat con bootstrap -->
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="far fa-comments" id="onglet_messages" onclick="javascript:change_onglet('messages');">Chat</span> 
                    <span class="far fa-comments" id="onglet_users" onclick="javascript:change_onglet('users');">Users</span> 
                </div>
                <div class="panel-body contenu_onglet" id="contenu_onglet_messages" style="height: 500px; max-height: 500px;overflow-y: scroll;">
                    <ul id="listMessage"> 
                    </ul>
                </div>
                <div class="panel-body contenu_onglet" id="contenu_onglet_users" style="height: 500px; max-height: 500px;overflow-y: scroll;">
                    <ul id="listUsers">
                     
                    </ul>
                </div>
                <div class="panel-footer">
                    <form action="" class="input-group" id="messageForm">
                        <input id="message" type="text" class="form-control input-sm" name="message" placeholder="Ecrire un message..." />
                        <span class="input-group-btn">
                            <input type="submit" value="Envoyer" class="btn btn-warning btn-sm btnEnvoyer" />
                        </span>
                    </form>
                </div>
            </div>
        </div>  
    <script type="text/javascript">
        //<!--
                var anc_onglet = 'messages';
                change_onglet(anc_onglet);
        //-->
        </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/client.js"></script>
</body>
</html>