extends layout

block content
    div.site-wrapper
        div.site-wrapper-inner
            div.container
                div.masthead.clearfix
                    div.container.inner
                        h3.masthead-brand CDM
                div.inner.cover
                    h1.cover-heading Coupe du Monde 2018
                    p.lead Choisi un pseudo et participe au chat de la coupe du monde et au live commenté 
                    if error 
                        p Erreur: #{error}
                    form(method="post" action="")
                        input(type="text" name="username" placeholder="Type your login" autofocus required)
                        input(type="password" name="password" placeholder="Type your password" autofocus required)
                        input(type="submit")

