extends layout

block content
    div.vertical-center.bg-1
        div.container-fluid.text-center            
            h1 Coupe du Monde 2018
            p Veuillez choisir un login pour participer au chat de la coupe du monde et au live commenté
            hr.my-4
            form(action="/cdm" method="POST" class="form-inline")
                div.input-group
                    span(class="input-group-addon")
                        i(class="fas fa-futbol")
                    input(type="text" name="pseudo" class="form-control" placeholder="Entrez votre pseudo") 
                input(type="submit" value="Entrer" class="btn btn-primary")
                if error
                    p(class="col-md-12 col-xs-12")= error
